In [33]:
#%%writefile outliers_removing.py

# identify outliers with standard deviation

import pandas as pd
import numpy as np
from numpy.random import seed
from numpy.random import randn
from numpy import mean
from numpy import std

In [34]:
data = pd.read_csv('example.csv', sep=' ')
data.head()

            x           y
0  592.086026  705.922423
1   87.205976  595.025468
2  389.062677  402.234744
3  201.405819  788.103254
4  587.476402  692.690576

In [35]:
# calculate summary statistics

data_mean = []
data_std = []
for i in range(len(data.columns)):
    data_mean.append(mean(data[data.columns[i]]))
    data_std.append(std(data[data.columns[i]]))

In [36]:
data_mean

[14320570571277.896, 1130706399909.3296]

In [37]:
data_std

[127284015398036.23, 10049932062978.074]

In [38]:
stats = pd.DataFrame({'data_mean': data_mean,
                      'data_std': data_std,
                      'two_sigma': np.array(data_std)*2,
                      'three_sigma': np.array(data_std)*3}, index=data.columns)

In [39]:
stats

      data_mean      data_std     two_sigma   three_sigma
x  1.432057e+13  1.272840e+14  2.545680e+14  3.818520e+14
y  1.130706e+12  1.004993e+13  2.009986e+13  3.014980e+13

In [40]:
# identify outliers

cut_off = np.array(stats.two_sigma)
stats['lower'], stats['upper'] = np.array(data_mean) - cut_off, np.array(data_mean) + cut_off

In [41]:
stats

,data_mean,data_std,two_sigma,three_sigma,lower,upper
x,1.432057e+13,1.272840e+14,2.545680e+14,3.818520e+14,-2.402475e+14,2.688886e+14
y,1.130706e+12,1.004993e+13,2.009986e+13,3.014980e+13,-1.896916e+13,2.123057e+13

In [42]:
# identify outliers

outliers_set = set()
for feat in stats.index:
    low = stats.loc[feat, 'lower']
    up = stats.loc[feat, 'upper']
    outliers_set = outliers_set | set(data[(data[feat] < low) | (data[feat] > up)].index)

print(outliers_set)
outliers = data[data.index.isin(outliers_set)]
number_outs = outliers.shape[0]
print('Identified outliers: %d' %number_outs)

{34, 35}
Identified outliers: 2

In [43]:
outliers

               x             y
34  1.145646e+15  1.500591e+03
35  1.183748e+03  9.045646e+13

In [44]:
# remove outliers

outliers_removed = data[~data.index.isin(outliers_set)]

number_outs_rem = outliers_removed.shape[0]
print('Non-outlier observations: %d' % number_outs_rem)

Non-outlier observations: 78

In [45]:
outliers_removed

              x             y
0    592.086026  7.059224e+02
1     87.205976  5.950255e+02
2    389.062677  4.022347e+02
3    201.405819  7.881033e+02
4    587.476402  6.926906e+02
5   1299.179475  1.293489e+03
6    602.074002  7.020022e+02
7    609.816235  6.953751e+02
8   1105.204310  1.510742e+03
9    412.868359  4.171389e+02
10   598.494852  3.862600e+00
11   206.694181  8.053379e+02
12  1001.644051  1.206508e+03
13  1205.826704  8.877883e+02
14  1196.520223  9.146357e+02
15   605.210621  7.094079e+02
16  1206.405458  9.085798e+02
17   109.012119  5.955355e+02
18  1300.259789  1.299023e+03
19  1210.911541  8.856056e+02
20    90.342984  6.991719e+02
21   202.958106  8.021583e+02
22  1097.432591  1.497898e+03
23   994.404617  1.200836e+03
24    99.795943  5.943353e+02
25     3.163852  3.874102e+02
26     5.550899  4.153894e+02
27    95.290147  5.546460e+07
28   195.822105  8.082333e+02
29   384.606178  3.974067e+02
..          ...           ...
50   391.628581  4.058136e+02
51  1305.758946  1.290015e+03
52   101.516693  5.967929e+02
53  1081.526771  1.506823e+03
54  1000.677844  1.197446e+03
55   182.187378  8.022751e+02
56  1191.772906  9.035641e+02
57  1102.554775  1.494611e+03
58  1305.697916  1.295336e+03
59   599.020924  6.857394e+02
60  1022.566231  1.187256e+03
61   102.895167  6.011656e+02
62  1299.332359  1.297498e+03
63  1004.395977  1.196999e+03
64   404.093932  3.987090e+02
65    92.678944  6.010217e+02
66   100.470027  5.906790e+02
67   406.267273  4.026301e+02
68  1309.851436  1.288798e+03
69   197.296667  8.073894e+02
70  1105.054979  1.510891e+03
71   108.919122  5.902970e+02
72  1186.453878  8.906362e+02
73  1292.265352  1.309872e+03
74  1002.703634  1.200914e+03
75   397.862057  3.956558e+02
76   602.790042  6.860698e+02
77   199.052230  7.926561e+02
78   191.634372  7.842137e+02
79  1310.663375  1.296304e+03

[78 rows x 2 columns]